Map {
    position: absolute;
    z-index: -1;
}

.card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input,
textarea {
    border: none;
    border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
    font-size: 12px;
    color: rgb(141, 141, 141);
}

.submitButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
}
.buttons,
.logout {
    position: absolute;

    top: 10px;
    right: 10px;
}
.button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.login {
    background-color: teal;
    margin-right: 10px;
}

.logout {
    background-color: tomato;
}

.register {
    background-color: slateblue;
}
.stars {
    color: gold;
}
